.container-register{
    display: flex;
    justify-content: center;
    gap: 11em;
}
.register-form{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    /* border:1px solid; */
    width: 450px;
    background-color:#008000;
    border-radius: 15px;
    padding: 15px;
    margin-left: 11em;
}
.register-form input{
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-radius: 15px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid black;
    margin-top: 10px;
}

.register-form:not(input){
    color: white;
}
#birthday{
    width: 200px;
    padding-right: 10px;
}
.upload-area{
    background-color: white;
    height: 150px;
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 400px;
    margin: auto;
    cursor: pointer;
}

.title{
    padding: 0.5em 2em 0 12em;
}
.title h1{
    margin-top: 0.4em;
    color: green;
    font-size: 3em;
}
.title img{
    display: block;
    margin-left: auto;
}

.buttons-register{
    position: absolute;
    left: 35%;
    bottom: 25px;
}