.container-register{
    display: flex;
    justify-content: center;
    gap: 11em;
}
.register-form{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    /* border:1px solid; */
    width: 450px;
    background-color:#008000;
    border-radius: 15px;
    padding: 15px;
    margin-left: 11em;
}
.register-form input{
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-radius: 15px;
    height: 30px;
    padding-left: 10px;
    border: 1px solid black;
    margin-top: 10px;
}

.register-form:not(input){
    color: white;
}
#birthday{
    width: 200px;
    padding-right: 10px;
}
.upload-area{
    background-color: white;
    height: 150px;
    border-radius: 15px;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 400px;
    margin: auto;
    cursor: pointer;
}

.title{
    padding: 0.5em 2em 0 12em;
}
.title h1{
    margin-top: 0.6em;
    color: green;
    font-size: 3em;
}
.title img{
    display: block;
    margin-left: auto;
}
.buttons button, .button{
    text-decoration: none;
    background-color: #008000; /*008000*/
    display: inline-block;
    margin: 5px;
    width: 100px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
    color: white;
    font-size: 1.2em;
    height: 30px;
    cursor: pointer;
    border: none;
}

.buttons{
    position: absolute;
    left: 35%;
    bottom: 25px;
}

.buttons button:hover, .button:hover{
    background-color: #025f02;
    box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.25)
}